### 1. Load Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.formula.api as sm
import sklearn
from sklearn import metrics

## 2. Load Dataset

In [3]:
data = pd.read_csv('Advertising.csv', index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
data.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

## 3. Train Test Split

In [6]:
features = ['TV', 'radio', 'newspaper']                # create a Python list of feature names
target = ['sales']                                     # Define the target variable

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[features], data[target], test_size=0.05, random_state=5000)

In [9]:
# checking train and test data sizes :
print('Train cases as below')
print('X_train shape: ',X_train.shape)
print('y_train shape: ',y_train.shape)
print('\nTest cases as below')
print('X_test shape: ',X_test.shape)
print('y_test shape: ',y_test.shape)

Train cases as below
X_train shape:  (190, 3)
y_train shape:  (190, 1)

Test cases as below
X_test shape:  (10, 3)
y_test shape:  (10, 1)

## 4. Linear regression in scikit-learn

In [10]:
#Instantiating the model
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression(fit_intercept=True)

In [11]:
#Fit the model
lr_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
#Interpreting Model Coefficients
print('Intercept:',lr_model.intercept_)          # print the intercept 
print('Coefficients:',lr_model.coef_)

Intercept: [2.98804537]
Coefficients: [[ 0.04574295  0.18812717 -0.00031962]]

In [13]:
X_train.columns
(lr_model.coef_).T

array([[ 0.04574295],
       [ 0.18812717],
       [-0.00031962]])

In [14]:
pd.DataFrame((lr_model.coef_).T,index=X_train.columns,\
             columns=['Co-efficients']).sort_values('Co-efficients',ascending=False)

           Co-efficients
radio           0.188127
TV              0.045743
newspaper      -0.000320

## 5. Using the Model for Prediction

In [16]:
y_pred_train = lr_model.predict(X_train) 
y_pred_train                            # make predictions on the training set

array([[17.02755225],
       [13.85715676],
       [17.98486857],
       [17.38773256],
       [13.95430738],
       [18.00624166],
       [15.00293682],
       [20.925685  ],
       [12.60984156],
       [ 8.94223668],
       [18.68431423],
       [20.88297629],
       [ 9.18845319],
       [22.95622551],
       [12.02277   ],
       [17.122956  ],
       [ 4.56793713],
       [ 9.96950398],
       [10.65892863],
       [21.30848509],
       [14.81321194],
       [16.60213615],
       [ 9.53961681],
       [17.669057  ],
       [14.47856617],
       [15.03281197],
       [ 7.62665857],
       [ 6.62163142],
       [13.27147858],
       [20.49960471],
       [23.31680333],
       [21.15520632],
       [11.8009309 ],
       [10.64681483],
       [15.68391965],
       [17.35562597],
       [ 9.87985222],
       [23.34302283],
       [ 6.65368948],
       [14.42946875],
       [15.4506998 ],
       [ 7.09505724],
       [ 9.97134351],
       [ 8.20238456],
       [23.84092868],
       [19.22968853],
       [15.35846904],
       [17.00272496],
       [11.95368497],
       [10.00421559],
       [ 8.85705541],
       [ 6.56722137],
       [ 9.76034634],
       [18.89982051],
       [17.10533226],
       [10.08764523],
       [19.01740323],
       [21.18553391],
       [13.99000919],
       [19.72965792],
       [ 5.80470774],
       [18.43123334],
       [ 9.05617363],
       [20.01342198],
       [11.49305225],
       [14.47714404],
       [ 6.62857816],
       [12.2296369 ],
       [18.17236084],
       [21.76314391],
       [13.68098537],
       [20.33508419],
       [17.37333242],
       [21.62872293],
       [ 9.75575215],
       [14.27399387],
       [ 5.42708589],
       [24.18119309],
       [22.28242605],
       [20.60258786],
       [18.51816015],
       [20.7190661 ],
       [12.16993303],
       [17.26246818],
       [11.78132531],
       [ 9.38550781],
       [11.91670227],
       [21.94971753],
       [16.38578008],
       [20.41769907],
       [12.82497127],
       [12.03750041],
       [20.83283065],
       [12.8320847 ],
       [ 9.82093389],
       [21.69634702],
       [10.16036624],
       [19.70415645],
       [23.4352109 ],
       [17.32283047],
       [13.9214731 ],
       [20.02554661],
       [14.7993593 ],
       [16.9866719 ],
       [19.30807456],
       [20.84362121],
       [19.53884455],
       [23.29211299],
       [19.3301914 ],
       [10.8735222 ],
       [10.45068392],
       [ 3.77618219],
       [18.5951264 ],
       [18.28041197],
       [14.2161167 ],
       [ 8.87544828],
       [ 6.1122983 ],
       [ 8.4886741 ],
       [18.48399371],
       [ 6.87836593],
       [14.71673234],
       [ 7.6605299 ],
       [16.07023723],
       [24.2102378 ],
       [17.69846463],
       [12.30399916],
       [ 8.83408801],
       [ 3.65434668],
       [ 8.47149388],
       [12.56145657],
       [14.03669031],
       [10.24108359],
       [15.34147539],
       [10.63786918],
       [ 8.21626552],
       [11.64661588],
       [15.65451325],
       [14.02409211],
       [17.05412562],
       [ 9.73542366],
       [ 8.59511035],
       [12.9384356 ],
       [10.05017428],
       [10.53113482],
       [11.11286265],
       [16.43612885],
       [10.69070801],
       [13.62741191],
       [21.36062353],
       [12.46287315],
       [13.25172592],
       [17.83978908],
       [ 7.45158714],
       [14.84138795],
       [12.69962228],
       [24.84032708],
       [ 8.23757475],
       [ 7.17223109],
       [10.41598457],
       [12.43872438],
       [15.26612448],
       [16.4056769 ],
       [11.49867485],
       [16.84157898],
       [ 7.70686236],
       [13.41974818],
       [15.22042941],
       [ 7.89360399],
       [16.33730408],
       [ 8.95722237],
       [ 9.21449205],
       [ 4.5403639 ],
       [12.52506499],
       [14.32729601],
       [ 4.53604562],
       [ 6.19152541],
       [13.79672287],
       [12.08462225],
       [12.9909482 ],
       [15.54501841],
       [18.17286416],
       [12.68341167],
       [15.65090099],
       [18.49886313],
       [10.46712087],
       [10.07713792],
       [ 7.95807578],
       [15.38955592],
       [16.5311747 ],
       [ 5.35604487]])

In [18]:
y_pred_test = lr_model.predict(X_test)           # make predictions on the testing set
y_pred_test

array([[15.22009711],
       [19.45981854],
       [15.12423951],
       [12.40258987],
       [ 7.91426381],
       [11.41350004],
       [15.66607952],
       [12.38771194],
       [15.66955342],
       [16.44776759]])

## 6.  Model evaluation

In [20]:
#Computing the MAE for our Sales predictions

MAE_train = metrics.mean_absolute_error(y_train, y_pred_train)
MAE_test = metrics.mean_absolute_error(y_test, y_pred_test)

print('MAE for training set is {}'.format(MAE_train))
print('MAE for test set is {}'.format(MAE_test))

MAE for training set is 1.2370315486253916
MAE for test set is 1.3491035416575239

In [21]:
#Computing the MSE for our Sales predictions

MSE_train = metrics.mean_squared_error(y_train, y_pred_train)
MSE_test = metrics.mean_squared_error(y_test, y_pred_test)

print('MSE for training set is {}'.format(MSE_train))
print('MSE for test set is {}'.format(MSE_test))

MSE for training set is 2.7655529731609403
MSE for test set is 3.209816499356171

In [22]:
#Computing the RMSE for our Sales predictions

RMSE_train = np.sqrt( metrics.mean_squared_error(y_train, y_pred_train))
RMSE_test = np.sqrt(metrics.mean_squared_error(y_test, y_pred_test))

print('RMSE for training set is {}'.format(RMSE_train))
print('RMSE for test set is {}'.format(RMSE_test))

RMSE for training set is 1.6629951813402648
RMSE for test set is 1.7915960759490883

In [23]:
data['sales'].mean()

RMSE_test/data['sales'].mean()

0.1277658103725504